.info,
.image img{
    width: 240px;
    height: 300px;
}
.container{
    align-items: center;
    height: 100%;
    padding: 30px;
    background: #1B3764;
}
.books{
    display: flex;
    justify-content: center;
    gap: 70px;  
    flex-wrap: wrap;
}
.rathing{
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
.rathing li{
    display: inline-block;
    color: orange ;
}
.info h3{
    font-size: 20px;
    font-family: Inter;
    font-weight: 300;
    color: #fff;
}
.info_price{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.add_to_cart{
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    cursor: pointer;
}
.info{
    height: 20vh;
}
.row{
    box-shadow: 0px 0px 100px 5px #FFf;
    padding: 40px;
    border-radius: 10px;
}
.search_div{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 20px;
    gap: 25px;
}
.row hr{
    box-shadow: 0px 15px 20px 2px #FFf;
    background: #fff;
    margin-bottom: 60px;
    height: 2px;
    border: none;
}
.add_to_cart:hover{
    animation: anime .3s linear infinite;
}
@keyframes anime{
    0% {
        transform: translate(2px,2px);
    }
    100%{
        transform: translate(2px,2px);
    }
}
.search_div input{
    width: 75vh;
    height: 40px;
    font-size: 20px;
    padding-left: 15px;
    background: #1B3764;
    box-shadow: 0px 0px 3px 2px #fff;
    font-weight: 300;
    font-family: 'Victor Mono', monospace;
    color: #fff;
    border: none;
}
.search{
    width: 48px;
    height: 40px;
    font-size: 30px;
    background:#fff ;
    box-shadow: 0px 0px 5px 4px #b60606;
    border: #b60606;
    border: none;
    cursor: pointer;
}