.page_section{
    min-height: 110vh;
    background: #FFF;
    padding: 10vh;
    background-image: url(/public/images/fone_1.jpg);
    transform-style: preserve-3d;
    overflow-y: scroll ;
    overflow-x: hidden;
    box-sizing: border-box;
}
.bk_1{
    display: flex;
    justify-content: center;
}
.bk_1 h1{
    color: black;
    text-align: center;
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px; /* 120% */
    text-transform: capitalize;
}
.bk_1 hr{
    width: 50px;
    height: 3px;
    background: #FFCA42;
    margin-top: 30px;
    margin-left: 19vh;
}
.tk_0 p{
    color: #1B3764;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    margin-top: 20px; 
}
.round{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFCA42;
}
.round h2{
    color: #1B3764;
    font-family: Cardo;
    font-size: 23px;
    font-style: normal;
    font-weight: 400; 
    line-height: 28.8px;
}
.tk_0 {
    padding: 20px;
    width: 303px;
    height: 272px;
    flex-shrink: 0;
    background: #F4F8FF;
}
.tk_1{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
.tk{
    margin-top: 100px;
    display: flex;
    gap: 40px;
}

