.about_section{
    background: #1B3764;
    height: 90vh;
}
.about_container{
    margin: 0px 67px 0px 200px;
}
.kristina_img{
    display: flex; 
    justify-content: start;
}
.kristina_img img{
    margin-top: 90px;
    width: 425px;
    height: 585px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 200px 10px  #F5F8FC;
}
.info_1{
    margin-top: 90px ;
}
.ssylka_0,
.ssylka{
    border-radius: 5px;
}
.info_1 h1{
    color: #fff;
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px; /* 120% */
    text-transform: capitalize;
}
.about_wrapper{
    display: flex;
    gap: 150px;
}
.info_1 hr{
    width: 50px;
    height: 3px;
    flex-shrink: 0;
    border: none;
    background: #FFCA42;
    margin-top: 30px;
    margin-bottom: 30px;
}
.info_2 p{
    color: #969AA0;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.2px;
}
.kr_reviews{
    display: flex;
    gap: 40px;
    margin-top: 50px;
}
.info_3 h1{
    color: #fff;
    font-family: Cardo;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 77px; 
}
.info_3 p{
    color: #969AA0;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    margin-top: 14px;
}
.info_3 img{
    margin-top: 17px;
    width: 45px;
    height: 42px;
}
.line{
    border-left:1px solid #FFCA42;;
    height: 108px;
    flex-shrink: 0;
}
.info_01 h1{
    color: #1B3764;
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px; /* 120% */
    text-transform: capitalize;
}
.info_01{
    margin-top: 140px ;
}
.info_01 hr{
    width: 50px;
    height: 3px;
    flex-shrink: 0;
    border: none;
    background: #FFCA42;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about_section_1{
    background: #F5F8FC;
    height: 90vh;
}
.info_03 h1{
    color: #1B3764;
    font-family: Cardo;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 77px; 
}
.info_03 p{
    color: #969AA0;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    margin-top: 14px;
}
.reid_img{
    display: flex; 
    justify-content: start;
}
.reid_img img{
    margin-top: 125px;
    width: 425px;
    height: 585px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 50px  #1B3764;
}
.ssylka{
    display: flex;
    width: 69vh;
    height: 15vh;
    margin-top: 23px;
    background: #F5F8FC;
}
.about_section_2{
    background: #F5F8FC;
}
.ssylka_0{
    display: flex;
    background: #465876 ;
    width: 69vh;
    height: 15vh;
    margin-top: 23px;
}
.ssylka img,
.ssylka_0 img{
    width: 130px;
    height: 120px;
    margin-left: 8px;
    margin-top: 8px;
}
.ssylka_info,
.ssylka_info_0{
    margin-top: 21px;
    margin-left: 30px;
}

.ssylka_info h1{
    color: #1B3764;
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px; 
}
.ssylka_info_0 h1{
    color: #FFCA42;
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px; 
}
.ssylka_info p{
    margin-top: 10px;
    color: #242628;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px;
}
.ssylka_info_0 p{
    margin-top: 10px; 
    color: #B4C7E7;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px;
}
.about_info_1 h1{
    color: #1B3764;
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px; /* 120% */
    text-transform: capitalize;
}
.about_info_1 hr{
    width: 50px;
    height: 3px;
    flex-shrink: 0;
    background: #FFCA42;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
}
.about_container_1{
    padding-left: 23vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.about_info_1 p{
    color: #969AA0;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.2px; 
}
.about_order h1{
    color: #1B3764;
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
}
.about_order{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.about_order img{
    width: 120px;
    height: 20px;
    margin-top: 3px;
}
.about_info_1 h3{
    color: #1B3764;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px;
}
.about_info_1{
    padding-top: 15vh;
}
.about_wrapper_1{
    display: flex;
}
.card{
    margin-left: 160px;
}
.card_1{
    width: 381px;
    height: 292px;
    margin-top: 20px;
    flex-shrink: 0;
    background: #1B3764;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
    padding-left: 30px;
}
.user_1{
    padding-top: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.user_01{
    padding-left: 15px;
}
.user_01 h1{
    color: #FFF;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}
.user_01 img{
    margin-top: 10px;
    width: 76px;
    height: 13px;
}
.card_1 h3{
    color: #FFF;
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; 
}
.card_1 p{
    margin-top: 15px;
    color: #B4C7E7;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}
.about_wrapper_1{
    gap: 20px;
}
.card_2{
    margin-top: 17vh;
}
.page_section{
    min-height: 110vh;
    background: #F5F8FC;
    padding: 10vh;
}
.page_end{
    display: flex;
}
.fone{
    margin-top: 20vh;
    width: 620px;
    height: 420px;
    margin-left: 150px;
    flex-shrink: 0;
    border: 10px solid #FFCA42;
}
.bk_1{
    display: flex;
    justify-content: center;
}
.bk_1 h1{
    color: black;
    text-align: center;
    font-family: Cardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px; /* 120% */
    text-transform: capitalize;
}
.bk_1 hr{
    width: 50px;
    height: 3px;
    background: #FFCA42;
    margin-top: 30px;
    margin-left: 19vh;
}
.tk_0 p{
    color: #1B3764;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    margin-top: 20px; 
}
.round{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFCA42;
}
.round h2{
    color: #1B3764;
    font-family: Cardo;
    font-size: 23px;
    font-style: normal;
    font-weight: 400; 
    line-height: 28.8px;
}
.tk_0 {
    padding: 20px;
    width: 303px;
    height: 272px;
    flex-shrink: 0;
    background: #F4F8FF;
}
.tk_1{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
.tk{
    margin-top: 100px;
    display: flex;
    gap: 40px;
}
@media screen and (max-width: 1366px){
    .about_section{
        height: 110vh;
    }
    .kristina_img img{
        width: 385px;
        height: 510px;
        box-shadow: 0px 0px 120px 10px #F5F8FC;
    }
    .about_container{
        margin: 0px 67px 0px 100px;
    }
    .info_1 h1{
        font-size: 38px;
    }
    .info_1 hr{
        width: 40px;
    }
    .info_2 p{
        font-size: 16px;
    }
    .info_3 h1{
        font-size: 50px;
    }
    .info_3 img{
        width: 38px;
        height: 31px;
    }
    .info_3 p{
        font-size: 15px;
    }
    .info_01 h1{
        font-size: 38px;
    }
    .info_01 hr{
        width: 40px;
    }
    .info_03 h1{
        font-size: 50px;
    }
    .info_03 p{
        font-size: 15px;
    }
    .reid_img img{
        width: 385px;
        height: 510px;
        box-shadow: 0px 0px 120px 40px #1B3764;
    }
}
    
