.vector_wrapper{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 30px;
}
.vector_1{
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
    gap: 5px;
}
.vector_1 h2{
    color: white;
}
.vector_2{
    display: flex;
    margin-top: 30px ;    
    gap: 6px;
}


header{
    background: #1B3764;
    height: 125px;
}
.head_wrapper {
    width: 100% ;
    gap:50px;
    list-style: none;
    display: flex;
    justify-content: end;
    padding-top: 30px;
}

.head_wrapper li a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    text-decoration: none;
}
.icon{
    display: flex;
    gap: 45px;
}
.icon li a{
    font-size: 25px;
}
.vector_wrapper button{
    margin-top: 30px;
    margin-right: 80px;
    background: #FFCA42;
    width: 180px;
    height: 66px;
    flex-shrink: 0;
    color: #1B3764;
    font-family: Cardo;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.5px; /* 150% */
    letter-spacing: 0.57px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}
.vector_2 img:hover,
.vector_wrapper button:hover{
    animation: anime .3s linear infinite;
}
@keyframes anime{
    0% {
        transform: translate(2px,2px);
    }
    100%{
        transform: translate(2px,2px);
    }
}
.head_wrapper li a:focus {
    vertical-align: middle;
    color: #FFCA42;
}
.head_wrapper li a:hover{
    color:#FFCA42;
}





@media screen and (max-width:1366px){
    .head_wrapper{
       margin-left: 34vh; 
    }
}
