.section_1{
    height: 90vh;
    background: #1B3764;
}
.books img{
    width: 45vh;
    height: 56vh;
}
.books{
    box-shadow: 0px 0px 100px 5px #FFf;
    padding: 40px;
}
.container{
    padding: 60px;
}
.book_1{
    display: flex;
    gap: 40px;
}
.book_info{
    display: flex;
    flex-wrap: wrap;
}
.book_1 h2{
    font-family: Cardo;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 400;
}
.rating li{
    display: inline-block;
    color: orange ;
}
.rating{
    margin-bottom: 60px;
}

.book_info p,
.info_p p{
    color: #B4C7E7;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px; 
    margin-bottom: 27px;
}

.reading{
    width: 30vh;
    height: 40px;
    font-size: 23px;
    font-weight: 400;
    background: #FFCA42;
    border: none;
    cursor: pointer;
    font-family: Inter;
    text-decoration: none;
}
.reading:hover {
    animation: anime .3s linear infinite;
}
@keyframes anime{
    0% {
        transform: translate(-2px,-2px);
    }
    100%{
        transform: translate(-2px,-2px);
    }
}