.section_1{
    height: 90vh;
    background: #1B3764;
}
.books img{
    width: 40vh;
    height: 60vh;
}
.container{
    padding: 60px;
}
.book_1{
    display: flex;
    gap: 40px;
}
.book_info{
    display: flex;
}
.book_1 h2{
    font-family: Cardo;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 400;
}
.rating li{
    display: inline-block;
    color: orange ;
}
.rating{
    margin-bottom: 60px;
}
.info_p p{
    color: #B4C7E7;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px; 
    margin-bottom: 26px;
}
.descr{
    margin-right: ;
}